body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#videoview {
	position: relative;
	width: 90%;
	height: 64vh;
}

#videoContainer {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	object-fit: contain
}