.row {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    align-items: center;
}

.container {
    max-width: 720px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loading-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    background: linear-gradient(to right, #FF0000 0%, #FF8000 17%, #FFFF00 33%, #00FF00 50%, #00FFFF 67%, #0080FF 83%, #0000FF 100%);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.filler {
    flex-grow: 1;
}

#imageGrid {
    width: 720px;
    height: 720px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.editor {
    display: flex;
    margin: 10px auto;
    align-items: center;
}

#videoview {
    position: relative;
    width: 100%;
    height: 40vh;
}

#videoContainer {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1
}

#imageGrid {
    width: 720px;
    height: 720px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

#camera_container {
    display: none;
}

h1 {
    text-align: center;
}

.imageview {
    max-width: 720px;
    max-height: 720px;
    width: 720px;
    height: 720px;
    border: 1px solid #ddd;
    background-color: #eaeaea;
    position: relative;
}

.imageview img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain
}

#sources {
    width: 200px;
}

#dropdown {
    width: 200px;
}

textarea {
    width: 680px;
    height: 100px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 4px;
    margin: 4px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

#drop_area {
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 50px;
    text-align: center;
    margin: 20px;
}

#drop_area:hover {
    background-color: #f8f8f8;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain
}

#document_editor {
    display: none;
}

#rectify_view {
    display: none;
}

#camera_view {
    width: 100%;
    height: 100%;
    object-fit: contain
}