body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
nav,
main,
footer {
    padding: 1rem;
    margin: 0.5rem;
}

header,
footer {
    background-color: #f4f4f4;
    text-align: center;
}

nav {
    background-color: #ddd;
}

main {
    background-color: #fff;
}

@media (min-width: 600px) {

    nav,
    main {
        display: inline-block;
        vertical-align: top;
    }

    nav {
        width: 25%;
    }

    main {
        width: 70%;
    }
}

textarea {
    width: 100%;
    min-height: 10vh;
    font-size: 3vmin;
    overflow: auto;
}